body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat ", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}

h2 {
  font-family: "montserrat";
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

#title {
  background-color: #ff4c68;
}

.title-image {
width: 60%;
transform: rotate(25deg);
position: relative;
left: 20%;
}

/* navbar */

.navbar {
    padding-bottom: 2.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: 700;
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Monstserrat-Light";
}

#navbarcontainer {
  padding-left: 0px;
  padding-right: 0px;
}

/* download buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* feature content */

#features {
  padding: 7% 15%;
}

.fa-check-circle {
    color: #ef8172;
    font-size: 6rem;
    padding-bottom: 1rem;
}

.fa-check-circle:hover {
    color: #ff4c68;
}

.fa-bullseye {
    color: #ef8172;
    font-size: 6rem;
    padding-bottom: 1rem;
}

.fa-bullseye:hover {
    color: #ff4c68;
}

.fa-heart {
    color: #ef8172;
    font-size: 6rem;
    padding-bottom: 1rem;
}

.fa-heart:hover {
    color: #ff4c68;
}

.features-p {
    color: #8f8f8f;
}

.features-h3 {
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 2rem;
}

.feature-col {
    text-align: center;
    padding:100px;
}

/* testimonial section */

#testimonials{

  text-align: center;
  background-color: #ef8172 ;
  color: #ffff;
}

.testimonialimage {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* press section */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom:3% ;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px ;
}